.customers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 80vh;
  width: 100%;
}

.customers-card-container {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
}

.customers-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  text-align: center;
  margin-bottom: 30px;
}

.customer-card {
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% / 3 - 30px);
  border: 2px solid var(--colorGrey);
  border-radius: 10px;
}

.customer-card-user-profile {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1%;
  margin-bottom: 10px;
}


.customer-card-user-profile img {
  width: 20%;
  border-radius: 50%;
  margin-right: 5px;
}

.customer-card-user-profile p{
  margin-right: 5px;
}

.customer-card-user-profile i{
  color: #FEA250;
}

.customer-card-name {
  width: 100%;
}

.customer-card-name p {
  font-size: 0.8em;
}
.customers-buttons {
  display: flex;
}
.customers-buttons button {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorRed);
  border-radius: 50%;
  cursor: pointer;
}

.customers-buttons button i {
  color: var(--colorRed);
}

.active-card {
  border: 2px solid var(--colorRed);
}

.customers-slider-components {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Dots */

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--colorGrey);
  border-radius: 50%;
  margin: 0 5px;
}

.active-dot {
  background-color: var(--colorRed);
}

@media screen and (max-width: 550px){
  .customers-title{
    width: 100%;
  }
  .customer-card {
    max-width: 100%; 
  }
}