.pricing-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, var(--colorGreySoft) 0%, var(--colorWhiteFont) 100%);
}

.pricing-title-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.pricing-box-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.pricing-box {
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 2%;
  border: 2px solid var(--colorGrey);
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

.pricing-box-title-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pricing-benefits {
  width: 80%;
  list-style-type: none;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pricing-benefits li {
  text-align: left;
  margin-left: 0;
}

.pricing-benefits i{
  color: var(--colorGreenIcons);
}

.pricing-button {
  margin-top: auto;
}
.pricing-button p {
  margin-bottom: 10px;
}

.selected {
  border: 2px solid var(--colorRed);
}

@media screen and (max-width: 550px){
  .pricing-container{
    height: auto;
  }
  
  .pricing-box-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
