.hero {
  width: 100%;
  height: 86vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.hero.active{
  opacity: 5%;
}

.hero-middle-content {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left-side {
  width: 70%;
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 40px;
  line-height: 1.5;
}
.hero-left-side h1 {
  font-size: 3vw;
  width: 90%;
  padding: 0;
}
.hero-left-side p {
  width: 80%;
  padding: 0;
}

.hero-left-side span {
  font-weight: 700;
}

.hero-left-side button {
  width: 38%;
  padding: 3%;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.hero-right-side {
  width: 50%;
}

.hero-right-side img {
  width: 100%;
  height: auto;
}

.hero-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 20vh;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px -10px var(--blackShadow);
}

.hero-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.hero-icons-container img {
  width: 20%;
}

.vertical-line {
  padding: 0;
  width: 2px;
  height: 125px;
  background-color: #ccc;
}


@media screen and (max-width: 550px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hero-middle-content {
    flex-direction: column;
    gap: 30px;
  }
  .hero-left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .button-primary-solid {
    display: none;
  }
  .hero-left-side h1 {
    font-size: 1.2em;
    width: 100%;
  }
  .hero-left-side p {
    font-size: 0.9em;
    width: 100%;
  }
  .hero-icons {
    width: 100%;
  }
  .hero-icons-container img {
    display: none;
  }
  .hero-right-side{
    width: 100%;
    margin-bottom: 20px;
  }
}
