.locations-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 50px;
    margin-top: 100px;
}

.locations-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.locations-title h2{
    width: 70%;
}

.locations-title span{
    font-weight: 700;
}

.locations-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.locations-image img{
    width: 100%;
}


