.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-color: var(--colorGreySoft);
  height: auto;
  padding: 2%;
}
/* Footer left side*/
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-right: 50px;
}
.footer-left p {
  width: 60%;
}
.footer-left span {
  color: var(--colorGrey);
}

.footer-logo {
  width: 30%;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 3%;
  color: var(--colorRed);
}

.footer-icons a {
  text-decoration: none;
  color: inherit;
}

.footer-icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--colorWhite);
  box-shadow: 0px 15px 30px -10px #f53838b9;
  cursor: pointer;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.footer-links li {
  list-style: none;
  cursor: pointer;
}
.footer-links h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
  .footer-links {
    display: none;
  }
  .footer-left p {
    width: 100%;
  }
  .footer-logo {
    width: 100%;
  }
}
