* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


:root {
  --colorRed: #F53838;
  --colorWhiteFont: #fff;
  --colorGrey: rgb(192, 192, 192);
  --blackShadow: #0d10254f;
  --greySoft: #FBFBFB;
  --colorGreenIcons: #2FAB73;
  --colorGreySoft: #F8F8F8;
}

.padding{
  padding-right: 15%;
  padding-left: 15%;
}

.button-red-primary {
  background-color: var(--colorRed);
  border: none;
  color: var(--colorWhiteFont);
  padding: 10px 20px;
  border: 1px solid var(--colorRed);
}

.button-red-secondary {
  border: 1px solid var(--colorRed);
  padding: 10px 20px;
  color: var(--colorRed);
  background-color: transparent;
}

button{
  background-color: transparent;
  border: none;
  color: inherit;
}

h2{
  font-size: 2.2em;
  font-weight: 700;
}

@media screen and (max-width: 550px){
  h2{
    font-size: 1.3em;
  }
  p{
    font-size: 0.8em;
  }
}